{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Categorie</th>
                <th>Contenu</th>
                <th>Tags</th>
                <th>Date</th>
                <th>Publié</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.auteur }}</td>
                <td>
                    {% if article.Category.name is defined %}
                        {{ article.Category.name }}
                        {% else %}
                            Pas de categorie.
                    {% endif %}
                </td>
                <td>{{ article.content|nl2br }}</td>

                <td>
                    {% for Tags in article %}
                        {{ article.Tags.value }}
                        {% else %}
                            Pas de Tags.
                    {% endfor %}
                </td>

                <td>{{ article.Date|date("m/d/Y") }}</td>
                <td>{{ article.Etat }}</td>

                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">Ouvrir</a><br>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a><br>
                    <a href="{{ path('article_delete', {'id': article.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}">Créer un nouvel article</a>
{% endblock %}
