<style>.nav-item > a {color:#28a745;} .nav-item > a:hover {color:#31cc54;} </style>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">


  	<!-- Logo CVTIC en tant que "header" du menu -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="/public/img/cvtic.png" alt="logo-cvtic" class="img-thumbnail"></a>
    </div>


    <!-- Début du menu de navigation -->
    

    	<!-- Accueil-->
      <div class="nav-item active">
      	<a class="nav-link" href="{{ path('Accueil_blog') }}">Accueil</span></a>
      </div>

      <!-- Sous-menu "Articles" -->
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('article_index') }}">Liste des articles</a>
          <a class="dropdown-item" href="{{ path('article_new') }}">Créer un article</a>
        </div>
      </div>

      <!-- Sous-menu "Catégories" -->
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('category_index') }}">Liste des catégories</a>
          <a class="dropdown-item" href="{{ path('category_new') }}">Créer une catégorie</a>
        </div>
      </div>


    <!-- Côté droit de la navbar -->
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon compte</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>
          <a class="dropdown-item" href="{{ path('app_login') }}">S'inscrire</a>
          <a class="dropdown-item" href="{{ path('app_login') }}">Modifier mon compte</a>
        </div>
      </div>
    <ul class="nav navbar-nav navbar-right">
    	<!-- Bouton pour se connecter (et également s'inscrire) -->
      <li>
      	<a href="{{ path('app_login') }}"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a>
      </li>
    </ul>

    {% include 'search/SearchBar.html.twig' %}
  </div>
</nav>